.app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background: var(--bg-default);
}

.calculator {
  flex: 5;
}

/* media queries for non small devices */
@media (min-width: 768px) {
  .app {
    flex-direction: row;
  }
}